* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.link-style {
    text-decoration: none;
}

.link-style a{
    color: var(--primary);
    border-bottom: 1px solid #FFFFFF;
  }
.link-style a:hover {
    color: #FFFFFF;
    border-bottom: 1px solid var(--primary);
    transition: 200ms;
  }

:root {
    --primary: #7289DA ;
    --black: rgb(15, 15, 15);
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5;
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

#root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
}